html, body {
	height: 100%;
	margin: 0;
	font: Arial, sans-serif;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #929ae7, #889aed, #7c9af3, #7d8ef9, #857ffc, #936efc, #a458f8);}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: #cee0dc;
	overflow: hidden;
	text-align: center;
}

.container h1 {
	font-family: Arial, sans-serif;
	font-size: 30px;
	color: #ffffff;
	margin-top: 80px;
}

.container h3 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: #cee0dc;
}

.container form {
	margin: 30px;
}

.container input, #longer {
	width: 224px;
	height: 40px;
	font-size: 15px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
}

.container input {
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
}

.container button {
	width: 100px;
	height: 40px;
	font-size: 15px;
	margin: 50px;
	background-color: #ACBDBA;
	/*border-radius: 50px;*/
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;

	width: 100px;
	height: 40px;
	font-size: 15px;
	margin: 50px;
	background-color: #ACBDBA;
}

.container p {
	margin: 100px;
}

.message {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding-top: 20px;
}

.table {
	border-collapse: collapse;
	width: 100%;
  }
  
.td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
.tr:nth-child(even) {
	background-color: #dddddd;
  }


