<!DOCTYPE html>
<html lang="en">
<title>Weight Tracker App</title>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="../static/main.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<p> Successful deletion! <br></p>
	</div>
    <input type="button" class="button" value="Home" onclick="window.location.href='{{url_for('index')}}'" />
    <input type="button" class="button" value="Results" onclick="window.location.href='{{url_for('results')}}'" />
</body>




</html>